#name_input{
    position: absolute;
    top: 300px;
    left: 180px;
    width: 120px;
    border: dotted;
    border-color: #54A6C4;
}

#table{
    position: absolute;
    top: 55px;
    left: 140px;
    width:350px;
    height:250px;
    text-align: center;
    color: #54A6C4;
    background-color: transparent;
}

